<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- JSON 콘솔 Appender (Fluent Bit용) -->
    <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- 루트 로거 -->
    <root level="INFO">
        <appender-ref ref="JSON_STDOUT"/>
    </root>

    <logger name="ERROR_LOGGER" level="ERROR" additivity="false">
        <appender-ref ref="JSON_STDOUT"/>
    </logger>

    <!-- Controller-specific Loggers -->
    <logger level="INFO" name="com.three.recipingrecipeservicebe.bookmark.controller.BookmarkController" additivity="false">
        <appender-ref ref="JSON_STDOUT" />
    </logger>

    <logger level="INFO" name="com.three.recipingrecipeservicebe.recipe.controller.RecipeController" additivity="false">
        <appender-ref ref="JSON_STDOUT" />
    </logger>

    <logger level="INFO" name="com.three.recipingrecipeservicebe.recipeDetailPage.controller.RecipeDetailPageController" additivity="false">
        <appender-ref ref="JSON_STDOUT" />
    </logger>

    <logger level="INFO" name="com.three.recipingrecipeservicebe.mainPage.controller.MainPageController" additivity="false">
        <appender-ref ref="JSON_STDOUT" />
    </logger>

    <logger level="INFO" name="com.three.recipingrecipeservicebe.recommendation.controller.OpenAiController" additivity="false">
        <appender-ref ref="JSON_STDOUT" />
    </logger>

    <logger level="INFO" name="com.three.recipingrecipeservicebe.search.controller.SearchController" additivity="false">
        <appender-ref ref="JSON_STDOUT" />
    </logger>

    <logger level="INFO" name="com.three.recipingrecipeservicebe.recommendation.controller.RecommendController" additivity="false">
        <appender-ref ref="JSON_STDOUT" />
    </logger>

    <logger level="INFO" name="com.three.recipingrecipeservicebe.hashtag.controller.HashTagController" additivity="false">
        <appender-ref ref="JSON_STDOUT" />
    </logger>

</configuration>