<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- 절대 경로 설정 -->
    <property name="LOG_PATH" value="/var/log/reciping/recipe-service"/> <!-- 디렉토리 경로 -> 여기에 로그가 저장 -->
    <property name="LOG_FILE" value="recipe-service-app"/>  <!-- 로그 파일의 이름 -> 나중에 /var/log/reciping/user-service/user-service-app.log로 치환됨 -->

    <!-- 콘솔 로그 Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{traceId}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 파일 기반 Appender(=파일에 로그를 기록) : 로그를 어디에 출력할지 설정하는 부분 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.log</file> <!-- 출력 예시) /var/log/reciping/user-service/user-service-app.log -->

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{traceId}] %logger{36} - %msg%n</pattern>
            <immediateFlush>true</immediateFlush> <!-- 로그를 버퍼에 모았다가 쓰지 않고, 매번 바로 디스크에 flush(쓰기 완료)하겠다는 뜻 -->
        </encoder>
    </appender>

    <!-- 커스텀 파일 로그 기반 Appender(MyPageController 에 대한 커스텀 파일 로그 기록) -->
    <appender name="BOOKMARK_CONTROLLER_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/BookmarkController.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/BookmarkController.%d{yyyy-MM-dd}.log</fileNamePattern> // 분 단위로 로그 파일 분리 저장
            <maxHistory>14</maxHistory> <!-- "애플리케이션 서버 로컬 디스크 수준"의 보존 정책입니다. 디스크 보호를 위해 14일 후에 지운다는 뜻입니다. (겟마이페이지 : 14~30일 / 겟마이북마크 : 14일) -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{traceId}] %logger{36} - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <appender name="BOOKMARK_CONTROLLER_JSON_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/BookmarkController.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/BookmarkController.%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- 커스텀 파일 로그 기반 Appender(UserController 에 대한 커스텀 파일 로그 기록) -->
    <appender name="RECIPE_CONTROLLER_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/RecipeController.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/RecipeController.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- 사인업 : 30일 이상 / 겟마이 프로필 : 14일 / 업데이트마이프로필 : 14일 / 나머지 : 7일 -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{traceId}] %logger{36} - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <appender name="RECIPE_CONTROLLER_JSON_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/RecipeController.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/RecipeController.%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- 커스텀 파일 로그 기반 Appender(UserController 에 대한 커스텀 파일 로그 기록) -->
    <appender name="RECIPE_DETAIL_PAGE_CONTROLLER_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/RecipeDetailPageController.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/RecipeDetailPageController.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- 사인업 : 30일 이상 / 겟마이 프로필 : 14일 / 업데이트마이프로필 : 14일 / 나머지 : 7일 -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{traceId}] %logger{36} - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <appender name="RECIPE_DETAIL_PAGE_CONTROLLER_JSON_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/RecipeDetailPageController.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/RecipeDetailPageController.%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE}.%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>


    <!-- 루트 로거 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="JSON_FILE"/>
    </root>

    <!-- BookmarkController 클래스에 대한 로거 -->
    <logger level="INFO"
            name="com.three.recipingrecipeservicebe.bookmark.controller.BookmarkController"
            additivity="false"> <!-- (additivity 는 상위 패키지 로그 전파 여부)-->
        <appender-ref ref="BOOKMARK_CONTROLLER_LOG" />
        <appender-ref ref="BOOKMARK_CONTROLLER_JSON_LOG" />
    </logger>

    <!-- RecipeController 클래스에 대한 로거 -->
    <logger level="INFO"
            name="com.three.recipingrecipeservicebe.bookmark.controller.RecipeController"
            additivity="false"> <!-- (additivity 는 상위 패키지 로그 전파 여부)-->
        <appender-ref ref="RECIPE_CONTROLLER_LOG" />
        <appender-ref ref="RECIPE_CONTROLLER_JSON_LOG" />
    </logger>

    <!-- RecipeDetailPageController 클래스에 대한 로거 -->
    <logger level="INFO"
            name="com.three.recipingrecipeservicebe.bookmark.controller.RecipeDetailPageController"
            additivity="false"> <!-- (additivity 는 상위 패키지 로그 전파 여부)-->
        <appender-ref ref="RECIPE_DETAIL_PAGE_CONTROLLER_LOG" />
        <appender-ref ref="RECIPE_DETAIL_PAGE_CONTROLLER_JSON_LOG" />
    </logger>


</configuration>